@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow-x: hidden;
}


.active-nav {
    background-color: #9ca3af; /* Your desired background color */
}
#navbar {
    background-color: transparent;
    transition: background-color 0.7s ease-in-out, padding-top 0.7s ease-in-out;
    width: 100%;
}

#navbar img {
    padding-top: 30px; /* Initial value */
    transition: padding-top 0.7s ease-in-out;
}

#navbar ul {
    padding-top: 60px; /* Initial value */
    transition: padding-top 0.7s ease-in-out;
}

#navbar.scrolled {
    background-color: #192436;
}

#navbar.scrolled img {
    padding-top: 0;
}

#navbar.scrolled ul {
    padding-top: 0;
}






.circle {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 3s ease, left 2s ease;
}

.words {
    opacity: 0;
    transition: opacity 3s ease;
}

.show {
    opacity: 1;
}

.circle.show {
    left: 50%;
    opacity: 1;
}

/* Default styling for ENG/SRB link */
.lang-toggle {
    color: white;
}

/* Styling for active ENG link */
#navbar .active,
#burgerDropDown .active {
    color: blue;
}
.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

}

.slider-track {
    display: flex;
    width: calc(250px * 20);
    animation: scroll 40s linear infinite;
}
.slide {
    height: 210px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slide img {
    width: 100%;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 10));
    }
}

.slider2 {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

}

.slider-track2 {
    display: flex;
    width: calc(250px * 44);
    animation: scroll 40s linear infinite;
}
.slide2 {
    height: 210px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slide img {
    width: 100%;
}



@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 22));
    }
}

.slider3 {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

}

.slider-track3 {
    display: flex;
    width: calc(250px * 20);
    animation: scroll 40s linear infinite;
}
.slide3 {
    height: 210px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slide3 img {
    width: 100%;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 10));
    }
}



.custom-border {
    border-width: 12px; /* Adjust the width as needed */
}

.dotted-background {
    background-color: #192436; /* Base color */
    background-image: radial-gradient(#486ba3 10%, transparent 10%);
    background-size: 5px 5px; /* Size of each dot */
    background-position: center;
    width: 100%;
    height: 100%; /* Full height */
}

.pagination-link {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #486BA3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}
.pagination-link.active {
    background-color: #fff;
    color: #486BA3;
}

.reference-size{
    font-size: 24px;
}

@media (max-width: 800px) {
    .reference-size {
        font-size: 48px;
    }
}

.border-container {
    position: relative;
    display: inline-block;
}

.border-image {
    display: block;
    position: relative;
    z-index: 1; /* Ensure the image is above the border */
}

.border-container::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 100px;
    right: -80px;
    bottom: 80px;
    border: 10px solid #B0B0B0;
    transition: transform 0.3s ease-in-out;
    z-index: 0; /* Ensure the border is below the image */
}

.border-container:hover::before {
    transform: translate(-100px, 80px);
}

.sketchfab-embed-wrapper {
    width: 100%;  /* Full width */
    max-width: 1200px;  /* Limit width on larger screens */
    margin: 0 auto;  /* Center the container */
}

.sketchfab-embed-wrapper iframe {
    width: 100%;  /* Make iframe fill the container */
    height: 600px;  /* Set height of the iframe (can be adjusted) */
}

@media (max-width: 768px) {
    .sketchfab-embed-wrapper iframe {
        height: 400px;  /* Adjust height for smaller screens */
    }
}

.picture{
    margin-left: 17px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;  /* Change from justify-items to justify-content */
}

.gallery img {
    width: 30%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 1240px) {
    .gallery img {
        width: 100%;  /* Full width for mobile screens */
        margin-bottom: 10px; /* Add some space between images */
    }
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Picture Slider Styles */
.picture-slider {
    display: none; /* Ensure it's hidden initially */
    position: fixed; /* To cover the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dimmed background */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.slider-image {
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    width: 80%; /* You can adjust this percentage to fit your needs */
    height: 80%; /* Keeps the image within the viewport */

}

.slider-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* This ensures the image scales proportionally within the available space */
    margin-top: 110px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.close {
    top: 10px;
    right: 10px;
    font-size: 40px;
}


.gallery-img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.05);
}

#imageModal.hidden {
    display: none;
}

.image-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
}

#imageModal.hidden {
    display: none;
}

.reference-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.reference-picture img {
    max-width: 80%; /* Adjust this percentage as needed */
    height: auto;  /* Keeps the aspect ratio */
    margin-bottom: 10px; /* Adds space between images */
}
.reference-picture p {
    max-width: 70%; /* Adjust this percentage as needed */
    text-align: center;
}


